// COLORS START

$midnight-Green: #002529;
$light-Coral: #f67e7e;
$white: #ffffff;
$rapture-blue: #79c8c7;
$police-blue: #2c6269;
$deep-jungle-green: #004047;
$sacramento-state-green: #012f34;
$sark-green: #002529;
$bacgraund-color: #014e56;

// COLORS END

// FONTS START
$main-ff: "Livvic", sans-serif;
// FONTS END
